<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Swiping</title>
        <link href="../static/css/styles_index.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <!-- <script defer src="../static/js/script.js"></script>  -->
        <!-- <script defer src="../static/js/match.js"></script>  -->
        <style type="text/css">@font-face { font-family: Roboto; src: url("chrome-extension://mcgbeeipkmelnpldkobichboakdfaeon/css/Roboto-Regular.ttf"); }</style>
        <!-- Bulma Version 0.9.0-->
        <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    </head>
        <body>
            <section class="hero is-fullheight is-default is-bold">
                <div class="hero-head">
                    <nav class="navbar">
                        <div class="container">
                            <div class="navbar-brand">
                                <a class="navbar-item" href="../">
                                </a>
                                <span class="navbar-burger burger" data-target="navbarMenu">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                            </div>
                            <div id="navbarMenu" class="navbar-menu">
                                <div class="navbar-end">
                                    <div class="tabs is-right">
                                        <ul>
                                            <li class="is-active"><a href="{{url_for('swipe')}}">swipe</a></li>
                                            <li><a href="{{url_for('logout')}}">logout</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="hero-body">
                    <div class="container has-text-centered">
                        <div class="columns is-vcentered">
                            <div class="column is-5">
         <div class="container image">
                    <div class="row h-100" id="swiping">
                        <div class="col d-flex justify-content-center align-items-center h-100">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <img src={{imgsrc}} id="current_swipe" class="card-img-top" alt={{author}}>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                                </figure>
                            </div>
                            <div class="column is-6 is-offset-1">
                                <h1 class="card-text">{{author}}'s image</p>
                                <div class="container text-center justify-content-between">
                    <form method="post" action="/index">
                        <input class="btn btn-danger" type="submit" value="dislike" name="dislike">
                        <input class="btn btn-primary" type="submit" value="like" name="like">
                        <input class="btn btn-success" type="submit" value="similar" name="similar">
                    </form>
                </div>
                                <br>
                                <p class="has-text-centered">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="hero-foot">
                    <div class="container">
                        <div class="tabs is-centered has-text-centered">
                            <ul>
                                <li>Made with <span style="color: #e25555;">&#9829;</span> by eddy, abrar, and edwin.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        
              {% if similar_array %}
                <div class="text-center">
                    <h2>Similar People</h1>
                </div>
                <div class="col d-flex justify-content-center">
                    
                    <div class="card text-center" style="width: 18rem;">
                        <ul class="list-group list-group-flush">
                            {% for item in similar_array %}
                            <li class="list-group-item">{{item}}</li>
                            {% endfor %}
        
                        </ul>
                    </div>
                </div>
                {% endif %}
        
        </body>
</html>